/* Main styles */
* {
	box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 2em;
  background: #f5f7f8;
  color: #111;
}

/* Header */

.logo {
   height: 50px;
}

header {
   background-color: #ef3340; 
   color: #fff;
   min-height: 100vh;
}


/* Banner */

#banner {
    width:90%;
    max-width: 1240px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

#banner a {
    color: rgba(255, 255, 255, 1);
    content: '';
    transition: all 0.2s linear;
    font-weight: 500;
    border-bottom: 1px solid rgba(255,255,255,.6);
}

#banner a:hover {
    color: rgba(255, 255, 255, .6);
    border-bottom: 1px solid rgba(255,255,255,.8);
}

.welcome {
    margin-bottom: 3em;    
    grid-column: 1 / -1;
    grid-row-start: 1;
    margin-top: 6vh;
}


.welcome h1 {
	color: #fff;
    font-size: 4em;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: -1px;
	margin-bottom: 72px;
}


.welcome p {
    font-size: 1.3em;
	font-weight: 300;
	line-height: 1.6em;
	margin-bottom: 36px;
	max-width: 500px;
    color: rgba(255, 255, 255, .8);
}


/* Misc */


button {
    background-color: #fff;
    color: #ef3340;
    border: #666;
    padding: 1.5em 2.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    margin: 4px 2px;
    cursor: pointer;
}

button:active, button:hover, button:focus {
    outline: none;
    border: none;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
    padding: 0;    
}

a {
    text-decoration: none;
    color: #111;
}