/* Main styles */
* {
	box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 2em;
  background: #f5f7f8;
  color: #111;
}



a {
	color: #cc3914;	
}

a:hover, #banner a:hover {
	color: #d64a73;
}


/* Header */

.logo {
    height: 40px;
    margin-left: 25px;
    float: left;
}

header {
   background-color: rgba(56,55,56,1); 
    color: #fff;
}


/* Banner */

#banner {
    width:90%;
    max-width: 1240px;
    min-height: 550px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#banner a {
    color: #fff;
    content: '';
    border-bottom: 1px solid rgba(255,255,255,1);
}

.welcome {
    font-size: 1.5em;
    margin-bottom: 3em;    
    grid-column: 1 / -1;
    grid-row-start: 1;
    margin-top: 10vh;
}


.welcome h1 {
	color: #fff;
	font-family: 'Merriweather Sans';
	font-size: 66px;
	font-weight: 800;
	 line-height: 1em;
	letter-spacing: -4px;
	margin-bottom: 72px;
}

.welcome h1:after {
	background: #d64a73;
	content: '';
	display: block;
	height: 12px;
	margin: 43px 0;
	width: 80px;
}

.welcome p {
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 36px;
	max-width: 70%;
}



#banner a:hover {
    content: '';
     border-bottom: 1px solid #d64a73;
}


.justifier {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.wrap {
    display: flex;
    margin: 0 auto;
    max-width: 1240px;
}


.prompt {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    grid-column: 2 / 3;
    grid-row: 1;
    margin-top: 2.5em;
}

.prompt:before {
    content: "";
    position: absolute;
    background: url(../images/icons/curved_arrow.svg) no-repeat;
    width: 50px;
    height: 50px;
    margin-top: 1.3em;
    bottom: 5;
    height: 100;
}

.scroll {
    width: 80px;
    height: 80px;    
    grid-column: 2 / 3;
    grid-row: 4;
}

/* Navigation */

nav {
    display: flex;
    align-items: center;   
    background-color: rgba(56,55,56,1); 
}

.nav-placeholder {
    margin:0 auto;    
}


/* Navigation - sticky nav */

.fixed {
    position:fixed;
    top:0;
    width:100%;
    z-index:170;       
}


nav li {  
   display: inline-block;
   margin: 0 1em;
}


nav a {
    text-decoration: none;
    color: #fff;
}


nav li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/* Cards */

#wrapper {
    width:90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 20px;
    padding: 65px 0 35px 0;
}


.card {
    background: #fff;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

/* Cards - Date */

.card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Cards - Typography */

.card h1 {
    font-size: 1.7em;
    margin: 0;
    color: #333;
}

.card p { 
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}


.card span {
    font-size: .8em;
    font-weight: 500;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0;
}


/* Cards - Images */

.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}



/* Misc */

img {
    max-width: 100%;
}

p {
    margin: 0;
    padding: 0;    
}

a {
    text-decoration: none;
    color: #111;
}