/* Cards */

@media only screen and (min-width: 500px) {
    #wrapper {
        grid-template-columns: 1fr 1fr;
    } 
    
      #banner {
        grid-template-columns: 1fr 1fr;
    }
    
    .prompt {
        grid-column: 2 / 3;
        grid-row: 1;
    }
}


@media only screen and (min-width: 850px) {
    #wrapper {
        grid-template-columns: repeat(3, 1fr);
        padding: 35px 0;
    }
    
    .welcome {
        font-size: 1.5em;
    }
    
    .welcome h1 {
    	font-size: 66px;
    }
    
    .welcome p {
        max-width: 700px;
    }
    
    .prompt {
        display: block;
        font-family: 'Indie Flower', cursive;
        font-size: 1.5em;
        margin-top: 1em;
    }

    .prompt:before {
        content: "";
        position: absolute;
        background: url(../images/icons/curved_arrow.svg) no-repeat;
        width: 50px;
        height: 50px;
        margin-top: 1.3em;
        bottom: 5;
        height: 100;
    }
    
}
